<div id="card-txtboard" class="d-flex flex-column p-2">
  <div>
    <p class="product-card-name"><strong><%= product_name %></strong></p>
    <p>
      <em>Expiration date:</em> <%= exp_date %>
    </p>
    <p><em>Country of origin:</em> <%= country %></p>
  </div>
  <div class="d-flex flex-row justify-content-between ">
    <p>
      <strong>S$<%= price %></strong>
    </p>
  </div>
</div>
