<h1 class="text-center">Butcheries</h1>

<ul>
  <% @butcheries.each do |butchery| %>
    <% user = butchery.user %>
    <li>
      <%= link_to butchery.name, user_butchery_path(user_id: butchery, id: user), class: "text-decoration-none text-dark" %>
      <%# <%= butchery.address %>
    </li>
  <% end %>

</ul>
