<div>
  <h1><strong>Butchery Creation</strong></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
    <%= render "form", user: @user, butchery: @butchery %>
    </div>
  </div>
</div>
