<div class='banner-container-butcher text-center'>
  <h1><%= @butcher.name %></h1>
  <h5>Address: <%= @butcher.address %></h5>
  <h5>Contact no: <%= @butcher.phone_number %></h5>
</div>

<h2 class="text-center">All Products</h2>


<%# PRODUCT CARD %>
<% @butcher.products.each do |product| %>
  <%= render "card", product_name: product.name, exp_date: product.expiration_date, butchery_name: product.butchery.name%>
<% end %>
