

<div class="row">
  <div class="form-container col-6 d-flex flex-column p-5">
    <div class="form-header mb-3">
      <strong><h1>Order form for <%= @product.name %></h1></strong>
    </div>

    <div class="form-contents">
      <%= simple_form_for([@product, @order]) do |f| %>
        <%= f.input :quantity %>
        <%= f.submit "Submit", class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>

  <div class="col-6">
    <div class="image-container">
      <img src="https://images.unsplash.com/photo-1502333052765-1424f32cf5ca?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=741&ixid=MnwxfDB8MXxyYW5kb218MHx8cmF3LG1lYXR8fHx8fHwxNjU0NDM4NzEy&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=494" alt="cat">
    </div>
  </div>
</div>
