<div class="container d-flex flex-column justify-content-center align-items-center mt-5">

    <h1><strong>Thank you for your purchase!</strong></h1>

    <div class="align-center">
      <%= link_to "Shop again", root_path, class: "btn-long-black"%>
    </div>
</div>
