<!-- Find me in app/views/pages/home.html.erb -->
<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path("beef-banner.jpg") %>)">
  <div class="container">
    <h1>Find the best meats on the island</h1>
    <p>The Meat Repo is an online marketplace for finding and selling meats in Singapore</p>
  </div>
</div>
