<!-- Find me in app/views/pages/home.html.erb -->
<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path("beef-banner.jpg") %>)">
  <div class="container">

    <div class="introductory-text">
      <h1>Find the best meats on the island</h1>
      <p>The Meat Repo is an online marketplace for finding and selling meats in Singapore</p>
    </div>

    <div class="user-actions">
      <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-success" %>
      <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-outline-light" %>
    </div>
  </div>
</div>
