.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-buyer-border {
  border: 2.5px solid #ffa400;
  margin-left: 20px;
  width: 40px;
}

.avatar-seller-border {
  border: 2.5px solid #f24c00;
  margin-left: 20px;
  width: 40px;
}
