.btn-long-black {
  background: #000000;
  color: white;
  padding: 8px 90px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

#new-pdt-btn {
  position: absolute;
  bottom: -3px;
  right: 15px;
}

.shop-now-btn {
  color: white;
  font-weight: bold;
  margin-left: 2em;
  padding: 12px;
}

.add-to-cart-btn:hover {
  background-color: #ababab;
  color: black;
}
