.btn-long-black {
  background: #1E1E24;
  width: 100%;
  color: #FFF8F0;
  text-decoration: none;
  padding: 8px 90px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-long-black:hover {
  background-color: #56565f;
  color: #FFF8F0;
}

.nav-item.btn.btn-dark:hover {
  color: #c8963e;
}

.btn-medium-black {
  background: #1E1E24;
  width: 250px;
  color: #FFF8F0;
  font-size: 18px;
  text-decoration: none;
  padding: 8px 90px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-medium-black:hover {
  background-color: #56565f;
  color: #FFF8F0;
}

#new-pdt-btn {
  position: absolute;
  bottom: -3px;
  right: 15px;
}

.btn-short-gold {
  background-color: rgba(200, 150, 62, 0.8);
  color: #FFF8F0;
  font-size: 24px;
  text-decoration: none;
  width: 40%;
  padding: 10px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-short-gold:hover {
  background-color: #C8963E;
  color: #FFF8F0;
}

.shop-now-btn {
  background-color: #FFF8F0;
  color: #1E1E24;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  width: 20%;
  padding: 10px 0px;
  border-radius: 16px;
  border: 1px solid #1E1E24;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.shop-now-btn:hover {
  background-color: #1E1E24;
  color: #FFF8F0;
  border: 1px solid #FFF8F0;
}

.btn-black {
  background: #1E1E24;
  width: 20%;
  color: white;
}

.add-product {
  background-color: #1E1E24;
  width: 30px;
  height: 15px;
  text-decoration: none;
  color: #FFF8F0;
  border-radius: 15px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.add-product:hover {
  color: #c8963e;

}
