.footer-container {
  background-color: #1E1E24;
  color: white;
  font-size: 18px;
}

.footer-container h4 {
  font-size: 24px;
}

.social-links i {
  color: #a2a2a2;
  font-size: 24px;
}

.social-links i:hover {
  color: white;
}
