.table-container {
  // background-color: #1E1E24;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: 'Poppins', sans-serif;
  color: #FFF8F0;
  font-family: 'Poppins', sans-serif;

}

.welcome-container {
  font-family: 'Poppins', sans-serif;
}
