<div class="container">
  <div class="d-flex justify-content-center my-3">
    <h2>All Products</h2>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card bg-white rounded p-4">
          <p><strong><%= product.name %></strong></p>
          <p><%= product.expiration_date %></p>
          <p><%= product.price %></p>
          <p><%= product.country %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
